<h1>Sites</h1>
<p>
  The sites currently being monitored are shown below:
</p>

<div class="sites">
  {{#each model as |site|}}
    <div class="site">
      <div class="info">
        <div class="name">{{site.name}}</div>
        <div class="interval">
          Interval: {{moment-duration site.pollInterval 'seconds'}}
        </div>
      </div>
      <div class="actions">
        <a href="#" class="button" {{action 'delete' site}}>Delete</a>
      </div>
    </div>
  {{/each}}
</div>

{{#link-to 'sites.new' class='button'}}New{{/link-to}}
