<h1>New Site</h1>
<p>
  Please fill in the form below to create a new site.
</p>
<form {{action 'create' on='submit'}}>
  <label>
    URL
    {{input value=url}}
  </label>
  <label>
    Name
    {{input value=name}}
  </label>
  <label>
    Poll Interval (in seconds)
    {{input value=pollInterval}}
  </label>
  <div class="buttons">
    <button type="submit">Create</button>
  </div>
</form>
