@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('fonts/opensans-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: lighter;
  src: url('fonts/opensans-light-webfont.woff') format('woff');
}

body {
  margin: 0;
}

body,
button,
input {
  font-family: 'Open Sans', sans-serif;
}

button,
input[type=submit],
.button {
  background-color: #aa3939;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14pt;
  margin: 32px 0;
  padding: 8px 32px;
  text-decoration: none;

  &:hover {
    background-color: #d46a6a;
  }
}

input[type=text] {
  border: 1px solid #cccccc;
  display: block;
  margin: 4px 0;
  padding: 8px;

  &:focus {
    border-color: #aa3939;
    outline: none;
  }
}

label {
  display: block;
  margin: 16px 0;
}

.container {
  margin: 0 16px;
}

.header {
  background-color: #aa3939;
  border-bottom: 8px solid #d46a6a;
  margin-bottom: 32px;
  padding: 8px 0;

  a {
    color: #ffaaaa;
    text-decoration: none;
    transition: color 200ms ease;

    &:hover {
      color: #ffffff;
      transition: color 200ms ease;
    }
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 24pt;
      font-weight: lighter;
      margin: 0;
    }

    .nav {
      li {
        display: inline-block;
        font-size: 14pt;
      }
    }
  }
}

.sites {
  margin: 32px 0;

  .site {
    border: 1px solid #dddddd;
    padding: 16px;

    &:not(:first-child) {
      border-top: none;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        font-size: 14pt;
      }

      .status {
        font-weight: bold;

        &.unknown { color: #cccccc; }
        &.online  { color: #39aa39; }
        &.offline { color: #aa3939; }
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    margin: auto;
    max-width: 970px;
  }
}
