<div class="header">
  <div class="container">
    <h2>
      {{#link-to 'index'}}My Site Monitor{{/link-to}}
    </h2>
    <ul class="nav">
      {{#if auth.isAuthenticated}}
        <li>
          {{#link-to 'sites'}}Sites{{/link-to}}
        </li>
        <li>
          <a href="#" {{action 'logout'}}>Logout</a>
        </li>
      {{else}}
        <li>
          {{#link-to 'login'}}Login{{/link-to}}
        </li>
      {{/if}}
    </ul>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>
