<h1>Sites</h1>
<p>
  The current status for each registered site is shown below:
</p>

<div class="sites">
  {{#each model as |site|}}
    <div class="site">
      <div class="info">
        <div class="name">{{site.name}}</div>
        <div class="status {{site.statusClass}}">
          {{site.statusText}}<br>
          <span class="since">{{moment-from-now site.statusTime}}</span>
        </div>
      </div>
    </div>
  {{/each}}
</div>

{{#if application.auth.user}}
  {{#link-to 'sites.new' class='button'}}New{{/link-to}}
{{/if}}
